body {
  background-color: white;
  margin: 0;
  font-family: "Roboto", Arial, sans-serif;
}
.menu {
  position: fixed;
  z-index: 99;
  background-color: #fafafa;
  width: 100%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.6);
}

.logo {
  text-align: center;

  .logo-img {
    max-width: 200px;
    width: 200px;
  }

  .logo-underline {
    margin: 0 20px 0 20px;
    background-color: #949494;
    opacity: 0.2;
    margin-top: -16px;
  }
}

.nav-list {
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 30px;
  justify-content: center;
}

.nav-text {
  color: #000;
  font-size: 14px;
  letter-spacing: 0.5px;
  font-family: "Roboto";
  text-transform: uppercase;
}

.arrow-down {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid rgb(0, 0, 0);
}

.nav-link:hover,
.nav-item:hover {
  cursor: pointer;
}

.submenu {
  position: relative;
}

.submenu-dnone {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 20%;
  display: none;
}

.nav-item:hover .submenu-dnone {
  display: block;
}

.submenu-link {
  display: block;
  text-decoration: none;
  color: black;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 10px;
  opacity: 0.8;
  text-align: center;
  margin-bottom: 10px;
}

.submenu-link:last-child {
  margin-bottom: 0;
}

.sumbenu-bg {
  background-color: #fafafa;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.6);
  padding: 10px 20px;
}

.submenu-link:hover {
  opacity: 0.5;
}

.arrow-up {
  margin: 0 auto;
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid #fafafa;
}

.first-img-wrapper {
  height: 100vh;
  overflow: hidden;
}

.first-img {
  margin-top: -156px;
  width: 100%;
}

.header {
  background-color: rgba($color: #0051ff, $alpha: 0.9);
  color: #fff;
  max-width: 480px;
  position: absolute;
  z-index: 1;
  padding: 42px 50px 42px;
  bottom: 0;
  right: 0;
}

.header-top-text {
  font-size: 14px;
  font-weight: 600;

  letter-spacing: 2.5px;
  margin-bottom: 20px;
}

.header-main {
  font-weight: 600;
  font-size: 30px;
  line-height: 1.2;
  margin-bottom: 22px;
}

.header-bottom-text {
  font-weight: 300;
  font-size: 18px;
  line-height: 1.55;
}

.art {
  padding: 30px 200px 30px 350px;
}

.art-header-wrapper {
  float: right;
  max-width: 460px;
  padding: 6px 0 0 30px;
}

.art-header {
  margin-top: 5px;
  font-weight: 300;
  font-size: 32px;
  line-height: 1.35;
}

.art-hr {
  display: inline-block;
  width: 240px;
  background-color: #000;
  margin-top: 15px;
}

.art-header-en {
  font-family: Georgia;
}

.art-text {
  font-weight: 300;
  font-size: 20px;
  line-height: 1.55;
  margin-right: 150px;
}

.art-text-en {
  font-family: Georgia;
}

.participants-header-wrapper {
  background-color: #01062e;
  color: #ffffff;
  padding-top: 15px;
  padding-bottom: 30px;
  text-align: center;
}

.participants-header {
  margin-top: 4px;
  margin-bottom: 15px;
  font-size: 28px;
  line-height: 1.17;
  font-weight: 600;
}

.participants-header-en {
  font-size: 16px;
  line-height: 1.55;
  font-weight: 300;
  margin-top: -6px;
  margin-bottom: 0;
}

.painters {
  font-size: 18px;
  line-height: 1.55;
  padding-top: 8px;
  padding-bottom: 6px;
  font-weight: 300;
  text-align: center;
}

.painters-wrapper {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  gap: 40px;
}

.painters-card {
  width: 260px;
  height: 340px;
  color: #fff;
  overflow: hidden;
}

.painter-avatar-wrapper {
  text-align: center;
}

.painter-avatar {
  width: 70px;
}

.painter-bg {
  position: relative;
  z-index: 2;
  height: 100%;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(15, 15, 15, 0.5)),
    to(rgba(0, 0, 0, 0.4))
  );
  transition: 0.3s all ease-in-out;
}

.painter-bg-img {
  position: relative;
  z-index: 1;
  margin-top: -340px;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.3s all ease-in-out;
}

.painter-bg-img-url-1 {
  background-image: url("../img/artists/oksana_svizhak/sea.jpg");
}

.painter-bg-img-url-2 {
  background-image: url("../img/artists/marian_luniv/bg.jpg");
}

.painter-bg-img-url-3 {
  background-image: url("../img/artists/sviatoslav_bazyuk/bg.jpg");
}

.painter-bg-img-url-4 {
  background-image: url("../img/artists/kateryna_pyatak/bg.jpg");
}

.photographer-bg-img-url-1 {
  background-image: url("../img/photographers/mariya_andriichuk/bg.jpg");
}

.photographer-bg-img-url-2 {
  background-image: url("../img/photographers/yuriy_zilinskiy/bg.jpg");
}

.photographer-bg-img-url-3 {
  background-image: url("../img/photographers/sergii_poznanskyi/bg.jpg");
}

.photographer-bg-img-url-4 {
  background-image: url("../img/photographers/igor_zholobak/bg.jpg");
}

.painters-card:hover {
  cursor: pointer;
}

.painters-card:hover .painter-bg-img {
  transform: scale(1.05);
}

.painters-card:hover .painter-bg {
  opacity: 0.7;
}

.painters-card:hover .painter-avatar-wrapper {
  transform: translateY(-45px);
}

.painters-card:hover .painter-portfolio {
  margin-top: -10px;
  opacity: 1;
}

.painter-avatar-wrapper {
  margin: -220px auto 0;
  position: relative;
  z-index: 3;
  transition: 0.3s all ease-in-out;
}

.painter-name {
  font-size: 20px;
  line-height: 1.35;
  font-weight: 600;
}

.painter-name-ua {
  font-size: 18px;
  line-height: 1.55;
  font-weight: 300;
}

.painter-portfolio {
  text-align: center;
  position: relative;
  z-index: 2;
  opacity: 0;
  font-weight: bold;
  border: 1px solid #ffffff;
  border-radius: 30px;
  font-size: 14px;
  margin: 5px 35px;
  padding: 8px;
  margin-top: -55px;
  transition: 0.4s all ease-in-out;
}

.painters-all {
  margin: 15px auto 65px;
  padding: 0 60px;
  border: 2px solid #d6d6d6;
  font-weight: bold;
  text-align: center;
  line-height: 60px;
  font-size: 16px;
  width: 200px;
  cursor: pointer;
}

.catalogues-header {
  font-size: 28px;
  line-height: 1.17;
  font-weight: 600;
  text-align: center;
}

.catalogues-header-en {
  font-size: 16px;
  line-height: 1.55;
  font-weight: 300;
}

.catalogues {
  background-color: #efefef;
  padding: 30px 150px;
  overflow: hidden;
  position: relative;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  width: 240px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-button-prev,
.swiper-button-next {
  width: 40px;
  height: 40px;
  outline: 0;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 1);
}

.swiper-button-prev::before {
  content: "";
  width: 15px;
  height: 3px;
  background: #fff;
  border-radius: 2px;
  position: absolute;
  transform: rotate(45deg) translate(2px, 4px);
}

.swiper-button-prev::after {
  content: "";
  width: 15px;
  height: 3px;
  border-radius: 2px;
  background: #fff;
  position: absolute;
  transform: rotate(-45deg) translate(2px, -4px);
}

.swiper-button-next::before {
  content: "";
  width: 15px;
  height: 3px;
  background: #fff;
  border-radius: 2px;
  position: absolute;
  transform: rotate(135deg) translate(2px, -4px);
}

.swiper-button-next::after {
  content: "";
  width: 15px;
  height: 3px;
  border-radius: 2px;
  background: #fff;
  position: absolute;
  transform: rotate(45deg) translate(-2px, -4px);
}

.swiper-button-prev:after,
.swiper-container-rtl .swiper-button-next:after {
  content: "";
}

.swiper-button-next:after,
.swiper-container-rtl .swiper-button-next:after {
  content: "";
}

.slide {
  display: block;
  text-decoration: none;
  background-color: #ffffff;
}

.slide__img {
  width: 100%;
  opacity: 1;
  transition: 0.3s all ease-in-out;
}

.slide__img-hover {
  width: 260px;
  height: 260px;
  overflow: hidden;
}

.slide__bg-1 {
  background-image: url("../img/catalogue/catalogue_1_bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slide__bg-2 {
  background-image: url("../img/catalogue/catalogue_2_bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slide__bg-3 {
  background-image: url("../img/catalogue/catalogue_3_bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slide__img-hover:hover .slide__img {
  opacity: 0;
}

.slide__header {
  margin: 0;
  padding-top: 36px;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 600;
  color: #000;
  font-size: 16px;
  line-height: 1.35;
}

.slide__text {
  margin: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 300;
  color: #000;
  font-size: 14px;
  line-height: 1.55;
  margin-top: 8px;
  padding-bottom: 41px;
}

.slide__link {
  margin: 0;
  color: #ffffff;
  display: inline-block;
  background-color: #01062e;
  border-radius: 6px;
  margin-bottom: 40px;
  padding: 8px 20px;
  text-decoration: none;
  font-size: 13px;
  font-weight: 700;
}

.projects {
  text-align: center;
  margin-bottom: 55px;
}

.projects__header {
  font-size: 42px;
  line-height: 1.23;
  font-weight: 600;
  margin-bottom: 20px;
}

.projects__text {
  width: 560px;
  font-size: 18px;
  margin: 0 auto 90px auto;
  line-height: 1.5;
  font-weight: 300;
}

.art-projects {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.ifnotyou {
  width: 560px;
  height: 400px;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ifnotyou__img {
  height: 100%;
  position: absolute;
  left: 0;
  z-index: -2;
  transition: all ease-in-out 0.25s;
}

.ifnotyou__bg {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.8)
  );
  transition: all ease-in-out 0.25s;
}

.ifnotyou__header {
  margin: 0;
  margin-bottom: 20px;
  padding: 0 40px;
  font-size: 36px;
  line-height: 1.23;
  color: #fff;
  font-weight: 600;
}

.ifnotyou__text {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 300;
  color: #000;
  font-size: 16px;
  line-height: 1.55;
  color: #fff;
}

.ifnotyou:hover .ifnotyou__img {
  transform: scale(1.05);
}

.ifnotyou:hover .ifnotyou__bg {
  opacity: 0.8;
}

.social {
  margin-bottom: 35px;
}

.social__text {
  margin: 0;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 2.5px;
  text-align: center;
}

.social__text-en {
  margin: 0;
  font-weight: 300;
  font-size: 24px;
  line-height: 1.5;
  text-align: center;
  margin-top: 2px;
  margin-bottom: 15px;
}

.social__list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 25px;
}

.social__logo {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.social__logo-issuu {
  width: 48px;
  height: 48px;
}

.social__line {
  display: flex;
  justify-content: center;
}

.social__line-center {
  width: 200px;
  height: 1px;
  background: #afafaf;
}

.social__line-left {
  width: 200px;
  height: 1px;
  background-image: -webkit-linear-gradient(right, #afafaf, rgba(0, 0, 0, 0));
}

.social__line-right {
  width: 200px;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #afafaf, rgba(0, 0, 0, 0));
}

.contact__text {
  font-weight: 600;
  font-size: 42px;
  line-height: 1.23;
  text-align: center;
}

.contact__text-en {
  text-align: center;
  font-size: 24px;
  line-height: 1.5;
  font-weight: 300;
}

.form {
  width: 750px;
  margin: 0 auto;
  font-weight: 300;
  line-height: 1.55;
  font-size: 18px;
}

.form__text {
  margin: 0;
  margin-bottom: 5px;
}

.form__text-en {
  margin: 0;
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 1.55;
  opacity: 0.7;
}

.form__input {
  width: 100%;
  height: 55px;
  padding: 0 20px;
  border: 1px solid #000;
  outline: none;
  margin-bottom: 25px;
}

.form__input::placeholder {
  font-size: 15px;
  color: #949494;
}

.form__textarea {
  height: 100px;
  width: 100%;
  padding: 20px;
  outline: none;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 30px;
}

.form__error {
  display: none;
  width: 100%;
  background: #f95d51;
  color: #fff;
  padding: 20px;
  text-align: center;
  margin-bottom: 30px;
}

.form__error-show {
  display: block;
}

.form__btn {
  display: block;
  color: #ffffff;
  background-color: #000000;
  text-align: center;
  height: 60px;
  border: 0 none;
  font-size: 16px;
  padding-left: 60px;
  padding-right: 60px;
  font-weight: 700;
  cursor: pointer;
  outline: none;
  margin: 0 auto 50px auto;
}

.margin-b {
  margin-bottom: 20px;
}
